[Desktop Entry]
Name[ca]=Geeqie
Name[cs]=Geeqie
Name[de]=Geeqie
Name[el]=Τζήκιυ
Name[en_GB]=Geeqie
Name[es]=Geeqie
Name[fr]=Geeqie
Name[it]=Geeqie
Name[ko]=Geeqie
Name[pl]=Geeqie
Name[pt_BR]=Geeqie
Name[ro]=Geeqie
Name[ru]=Geeqie
Name[sk]=Geeqie
Name[sr]=Чудак
Name[sr@latin]=Čudak
Name[sv]=Geeqie
Name[tr]=Geeqie
Name=Geeqie
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[de]=Bildbetrachter
GenericName[el]=Προβολέας Εικόνων
GenericName[en_GB]=Image Viewer
GenericName[es]=Visor de imágenes
GenericName[fr]=Visualisateur d'images
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューワ
GenericName[ko]=이미지 뷰어
GenericName[pl]=Przeglądarka obrazów
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Viewer imagini
GenericName[ru]=Программа просмотра изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sr]=Разгледач слика
GenericName[sr@latin]=Razgledač slika
GenericName[sv]=Bildvisare
GenericName[tr]=Resim Görüntüleyici
GenericName=Image Viewer
Comment[ca]=Visualitza i gestiona imatges
Comment[cs]=Prohlížet and spravovat obrázky
Comment[de]=Betrachte und verwalte Bilder
Comment[el]=Προβολή και διαχείριση εικόνων
Comment[en_GB]=View and manage images
Comment[es]=Vea y administre imágenes
Comment[fr]=Voir et gérer des images
Comment[it]=Visualizza e gestisci immagini
Comment[ja]=画像の表示と管理
Comment[ko]=이미지 보기 및 관리하기
Comment[pl]=Wyświetl i zarządzaj obrazami
Comment[pt_BR]=Visualizar e gerir imagens
Comment[ro]=Afișează și administrează imagini
Comment[ru]=Просмотр и управление изображениями
Comment[sk]=Prehliadanie a organizovanie obrázkov
Comment[sr]=Прегледајте и уредите ваше слике
Comment[sr@latin]=Pregledajte i uredite vaše slike
Comment[sv]=Visa och hantera bilder
Comment[tr]=Resimleri görüntüle ve yönet
Comment=View and manage images
Exec=geeqie %F
Icon=geeqie
Type=Application
Terminal=false
# Startup notification disabled, since the remote -r switch may not open a new window…
StartupNotify=true
StartupWMClass=geeqie
NotShowIn=X-Geeqie;
Categories=Graphics;Viewer;
MimeType=application/x-navi-animation;image/bmp;image/x-bmp;image/x-MS-bmp;image/gif;image/x-icon;image/jpeg;image/png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-tga;image/tiff;image/x-xbitmap;image/x-xpixmap;image/svg;image/svg+xml;image/x-png;image/xpm;image/x-ico;image/heic;
Keywords[ca]=Foto;Diapositiva;Gràfics;
Keywords[de]=Bild; Diashow; Grafik;
Keywords[es]=Ilustración;Imagen;Diapositivas;Gráficos;
Keywords[it]=Picture;Slideshow;Graphics;
Keywords[ru]=Picture;Slideshow;Graphics;Изображение;Просмотр слайдов;Графика;
Keywords[sk]=obrázok;prezentácia;grafika;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords=Picture;Slideshow;Graphics;
